<!doctype html>
<html>
    <head>
        <title>Learn NodeJS</title>
        <link rel="stylesheet" type="text/css" href="public/css/style.css"/>
    </head>
    <body>
        {{> @partial-block }}
    </body>
</html>